<h1>Edit Book</h1>

<%= form_for @book do |f| %>
  <p>
    <%= f.label :title, autofocus: true %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :sub_title %><br />
    <%= f.text_field :sub_title %>
  </p>
  <p>
    <%= f.label :genre  %><br />
    <%= f.text_field :genre %>
  </p>
  <p>
    <%= f.label :classification %><br />
    <%= f.text_field :classification %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.label :year  %><br />
    <%= f.number_field :year %>
  </p>
  <p>
    <%= f.submit "Update Book" %> |
    <%= link_to 'Cancel', @book %>
  </p>
<% end %>