<h1><%= pluralize(@total_books.size, "Book") %> in the catalog</h1>
<br />

<%= render 'shared/search' %>

<br /><br />
<%= link_to 'Add New Book', new_book_path %>
| <%= link_to 'Add Author', new_author_path %>
<% if params[:search] %>
  | <%= link_to 'Back', books_path %>
<% end %>
<br /><br />

<div class="index-box col-10 offset-1">
	<% @books.each do |book| %>
	<h2><%= link_to book.title, book %></h2>  
	  <hr />
	<% end %>
</div>

<%= paginate @books %>