<!DOCTYPE html>
<html>
  <head>
    <title>Homework02</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header-area">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
        <h3><%= link_to 'iBook Cataloger', root_path %></h3>
        </div>
          <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete%>
            </li>
          <% else %>
            <li>
              <%= link_to 'Sign up', new_user_registration_path %>
            </li>
            <li>
              <%= link_to 'Sign in', new_user_session_path %>
            </li>
          <% end %>
          </ul>
       </nav>
   </div>

   <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
   <% end %>
   <% if alert.present? %>
    <p class="alert alert-danger"><%= alert %></p>
   <% end %>
   <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
